.data-hora {
    text-align: center;
    font-family: "Arial", sans-serif, monospace;
    font-weight: 400;
    font-style: normal;
}

#btn-dialog-fechar {
    position: absolute;
    top: 0;
    right: 0;
}

#alerta-registro-ponto {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(173, 101, 146);
    padding: 20px;
}

#alerta-registro-ponto p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    text-align: center;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}


#alerta-registro-ponto-fechar {
    position: absolute;
    top: 0;
    right: 0;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}


#div-btn-bater-ponto {
    text-align: center;
}

#btn-bater-ponto {
    padding: 20px;
    background-color: rgb(173, 101, 146);
    color: white;
    font-size: 1.3rem;
    border: 0px;
}

.data-hora p {
    font-size: 2rem; 
}

#dialog-ponto p {
    font-size: 1.5rem;
    text-align: center;
}

#dialog-ponto select {
    padding: 20px;
    font-size: 1.3rem;
}

#btn-dialog-bater-ponto {
    padding: 20px;
    font-size: 1.3rem;
}

body {
    background-color: rgb(255, 216, 238);
}

#dialog-ponto {
    background-color: rgb(255, 216, 238);
    color: rgb(0, 0, 0); /* Set text color to black or any color you prefer */
    border-radius: 8px; /* Optional: add rounded corners */
    padding: 20px; /* Optional: add padding */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: add shadow for depth */
}
